<!-- /templates/snippets/section-banner-1-col-2.liquid -->
<div class="custom-top ">
		 <div class="grid">	
		      <div class="grid__item">
		        	<a href="{{settings.banner_1_image_1_url_2}}" class="{{settings.select_effect_banner_1_2}} space-20" title="banner"><img src="{{ 'banner_1_image_2.jpg' | asset_url }}" alt=""></a>
		      </div>
		 </div>		
</div>